	<div id="index_header">

		 <div class="nav">
		 	<img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/icon1.png"></img>
		     <a href="../addresses">
		     	<div class="city-icon"></div>
		     	城市
		     </a>
		 </div>	   	
        <div id="slider" class="nivoSlider">
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image1.png"/>
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image2.png"/>
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image3.png"/>
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image4.png"/>
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image5.png"/>
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image6.png"/>
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image7.png"/>
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image8.png"/>
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image9.png"/>
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image10.png"/>
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image11.png"/>
                        <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/image12.png"/>                                               
        </div>	
	</div>
	
           
<div class="clear"> </div>
<!--主体部分-->
	
	<div id="hot_house">
		<div class="containers">
		    <h1>热门房产</h1>
		    <ul>
		    	<li>
		    		<div class="hot">
                        <a href="./house/william.html">
		    			    <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/william/firstpage.jpg"/>
		    		    </a>
		    			<a class="price">
		    				The William'Melbourne,VIC墨尔本威廉公寓
		    				</a>

		    		</div>
		    	</li>
		    	<li>
		    		<div class="hot">
		    			<a href="./house/hub.html">
		    			<img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/hub/firstpage.jpg"/>
		    		    </a>
		    			<a class="price">
		    				“The Hub”,Richmond,VIC 维多利亚省,列治文</a>
		    		</div>
		    	</li>
		    	<li>
		    		<div class="hot">
		    			<a href="./house/newstead.html">
		    		    <img src="http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/newstead/firstpage.jpg"/>
		    		    </a>
		    			<a class="price">
		    			 NEWSTEAD TOWERS 澳大利亚布里斯班</a>
		    		</div>
		    	</li>    
		    	
		    </ul>
	    </div>
	    <div class="clear"> </div>

	</div>


<%=render 'public/footer'%>


