/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
    color:#000;
    background:#FFF;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}
body{
    height:100%;
    width:100%;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,
fieldset,legend,input,textarea,p,blockquote,th,td{
margin:0;
padding:0;
}


table{
    border-collapse:collapse;
    border-spacing:0;
}

fieldset,img{
    border:0;
}

address,caption,cite,code,dfn,em,strong,th,var{
    font-style:normal;
    font-weight:normal;
}

ol,ul,li{
    list-style:none;
}

caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal;
}

q:before,q:after{
    content:'';
}

abbr,acronym{
    border:0;
    font-variant:normal;
}

sup{
    vertical-align:text-top;
}
sub{
    vertical-align: text-bottom;
}

input,textarea,select{
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    font-size:100%;
}

legend{
    color:#000;
}

/*通用样式*/
html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Microsoft Yahei";}

a {
  text-decoration: none;
  font-family:"Microsoft Yahei";
}


a:hover{
  color:#993300;
  background-color:#ec462c;
}
p{
  font-family:"Microsoft Yahei";
}

.containers{
  width:980px;
  margin:auto;
  min-height:100%;
  position:relative;
}


.containers{
  width:980px;
  margin:auto;
  min-height:100%;
  position:relative;
}

.pr
.position-relative {
    position: relative;
}

.clear{
  font:0px/0px sans-serif;
  clear:both;
  display:block;

}

/*头部*/
#header{
  height:60px;
  background:#ec462c;
}
.nav{
   width:960px; 
   position:relative;
   margin:auto;
   padding-top:20px;

}
.nav a{
   
  font-size:16px;
  margin-right:40px;
  color:#fff;
    float:left;
  font-weight:bold;
}
.nav a:hover{
  color:#993300;
  background-color: #ec462c;

  
}
.nav h1{
  color:#fff;
  float:right;
  font-weight:bold;
}
.icon {
  float:left;
    height: 50px;
    width: 120px;
  background: url("http://jshouse.oss-cn-hangzhou.aliyuncs.com/images/icon1.png") no-repeat ;
  margin-left:16%;
  margin-top:8px;
}


.home-icon {
  float:left;
  
    height: 20px;
    width: 20px;
  background: url("../house/images/home-icon.png") no-repeat ;
}

.city-icon{
  float:left;
    height: 20px;
    width: 20px;
  background: url("../house/images/city-icon.png") no-repeat ;
}




/*尾部*/

#footer{
  background:#ec462c;
  position: relative;
    
}

.ft-top{
  margin-top:20px;
  padding-top:10px;
  height:100%;
  padding-bottom:10px;
}
.ft-top ul{
  float:right;
}

.ft-top li{
  color:#fff;
    margin-left:10px;
    float:right;
}

.ft-top a{
  font-weight:bold;
  color:#fff;
  font-size:13px;
}

.ft-bottom{
  border-top:1px solid #fff;
  padding-bottom:20px;
}

.ft-bottom h1{
  margin-top:10px;
  color:#fff;
  font-size:12px;
  font-weight:bold;
}

.ft-bottom a{
  margin-left:10px;
  color:#fff;
  font-size:11px;
  font-weight:bold;
}


/*返回顶部*/

#back-to-top{
  display:none;
  position:fixed;
  top:80%;
  left:50%;
  cursor:pointer;
  margin-top:-50px;
  margin-left:520px;
  width:40px;
  height:40px;
  background:url(../house/images/top.png) no-repeat ;
}


