body {
  background-color: #f8f8f8;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;

  }

}
#feedback_name,#feedback_phone,#feedback_email{
   width: 245px;
   height: 25px;
   font-size:15px;
   margin-left:5px;
   border:1px solid #A4A4A4;
  }
  #feedback_message{
  width:245px;
  height:70px;
  font-size:15px;
  margin-left:5px;
  border:1px solid #A4A4A4;
  }

  input[type="submit"]{
  display:block;
  height:35px;
  width:249px;
  color:#fff;
  background-color:#e90000;
  border:1px solid #e90000;
  margin-left:5px;
  font-size:15px;
   border-radius:2px;
}
  input[type="submit"]:hover{
  display:block;
  height:35px;
  width:249px;
  color:#fff;
  background-color:#ff0000;
  border:1px solid #ff0000;
  margin-left:5px;
  font-size:15px;
   border-radius:2px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  display:none;
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
