
	#index_header{
	    height:80%;
	    position:relative;
	    .nav{
	        position:absolute;
            z-index:10;
	        left:25%;
	        top:5%;
	        right:25%;
	        img{
	            float:left;
	        }
	        a{
                font-size:16px;
	            margin-left:40px;
	            margin-top:2%;
	            color:#fff;
                float:left;
                font-weight:bold;
	        }
	        a:hover{
	            color:#993300;
	        }
	        .city-icon{
	            float:left;
                height: 20px;
                width: 20px;
	            background: url("../house/images/city-icon.png") no-repeat ;
            }
	    }

	    #slider{
            position:relative;
            width:680px;
            height:500px;
            background:url(../house/images/slider/loading.gif) no-repeat 50% 50%;
            img{
                position:absolute;
                top:0px;
                left:0px;
                width:680px;
                height:500px;                    
                display:none;
            }
            a{
                border:0;
                display:block;
            }
            .nivo-controlNav{
                position:absolute;
                left:220px;
                bottom:20px;

                a{
                    display:block;
                    width:22px;
                    height:22px;
                    background:url(../house/images/slider/bullets.png)no-repeat;
                    text-indent:-9999px;
                    border:0;
                    margin-right:3px;
                    float:left;

                        
                }
                .active{
                    background-position:0 -22px;
                }
                .nivo-directionNav{
                    a{
                    display:block;
                    width:30px;
                    height:30px;
                    background:url(../house/images/slider/arrows.png)no-repeat;
                    text-indent:-9999px;
                    border:0;
                    }
                   .nivo-nextNav{
                        background-position:-30px 0;
                        right:15px;
                    }

                    .nivo-prevNav{
                        left:15px;
                    }
                }
                .nivo-caption{
                    text-shadow:none;
                    font-family:"Microsoft Yahei";

                    a{
                        color:#efe9d1;
                        text-decoration:underline;
                    }
                }
            }


	        .information1{
                margin-left:50%;
                margin-top:15%;
                width:40%;
                padding:10px;
                h1{
                    color:#fff;
	                font-size:45px;
                }
                p{
                    font-size:17px;
	                color:#fff;
                    font-weight: bold;
                }
                a{
                    color:#fff;
                    font-weight: bold;
                    padding:10px;
                    font-size:15px;
                    border:3px solid #fff;
                }
                a:hover{
                    font-weight: bold;
                    padding:10px;
                    font-size:15px;
                    color:#ec462c;
                    background-color: #fff;
                    border:2px solid #fff;
                }

            }
            .information2{
                margin-left:50%;
                margin-top:10%;
                width:40%;
                padding:10px;
                h1{
                    color:#fff;
	                font-size:45px;
                }
                p{
                    font-size:17px;
	                color:#fff;
	                font-weight: bold;
                }
                a{
                    color:#fff;
                    font-weight: bold;
                    padding:10px;
                    font-size:15px;
                    border:3px solid #fff;
                }
                a:hover{
                    font-weight: bold;
                    padding:10px;
                    font-size:15px;
                    color:#ec462c;
                    background-color: #fff;
                    border:2px solid #fff;
                }

            }
            .information3{
                background-color: #000;
                opacity: 0.7;
                margin-left:50%;
                margin-top:10%;
                width:40%;
                padding:10px;
                h1{
                    color:#fff;
	                font-size:45px;
                }
                p{
                    font-size:17px;
	                color:#fff;
                    font-weight: bold;
                }
                a{
                    color:#fff;
                    font-weight: bold;
                    padding:10px;
                    font-size:15px;
                    border:3px solid #fff;
                }
                a:hover{
                    font-weight: bold;
                    padding:10px;
                    font-size:15px;
                    color:#ec462c;
                    background-color: #fff;
                    border:2px solid #fff;
                }
            }
 	    }
	}
	#hot_house{
	    margin-top:1%;
        position:relative;
        h1{
            margin:10px;
        }
        li{
            float:left;
        }
        .hot{
            border:1px solid #fff;
	        margin:10px;
	        height:220px;
	        width:300px;
	        img{
	            height:220px;
	            width:300px;
	            position:absolute;
	        }
        }
        .price{
            margin-top:188px;
	        position:absolute;
	        height:22px;
	        width:290px;
	        background-color: #000;
	        font-size:13px;
	        color:#fff;
	        z-index:1;
	        padding:5px;
        }
	}

