	#hot_house{
	    margin-top:1%;
        position:relative;
        h1{
            margin:10px;
        }
        li{
            float:left;
        }
        .hot{
            border:1px solid #fff;
	        margin:10px;
	        height:220px;
	        width:300px;
	        img{
	            height:220px;
	            width:300px;
	            position:absolute;
	        }
        }
        .price{
            margin-top:188px;
	        position:absolute;
	        height:22px;
	        width:290px;
	        background-color: #000;
	        font-size:13px;
	        color:#fff;
	        z-index:1;
	        padding:5px;
        }
	}

