/*--通用*/

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-family:"Microsoft Yahei" }

a {
  text-decoration: none;
  font-family:"Microsoft Yahei" ;
}

.float-right{
	float:right;
}

.float-left{
	float:left;
}

.containers{
	width:980px;
	margin:auto;
	height:100%;
	position:relative;
}

.clear{
  font:0px/0px sans-serif;
  clear:both;
  display:block;

}

/*头部*/
#header{
	position:relative;
	width:100%;
}
.banner{
	height:100%;

}
.nav{
	position:absolute;

	z-index:100;
	left:25%;
	top:5%;
	right:25%;

}

.nav img{
  float:left;
}
.nav a{
	font-size:16px;
	margin-left:40px;
	margin-top:2%;
	color:#fff;
    float:left;
}
.nav a:hover{
	color:#993300;
}


.city-icon{
	float:left;
    height: 20px;
    width: 20px;
	background: url("../images/city-icon.png") no-repeat ;
}


.information1{
margin-left:50%;
margin-top:15%;

width:40%;
padding:10px;
}
.information1 h1{
	color:#fff;
	font-size:45px;

}
.information1 p{
	font-size:17px;
	color:#fff;

}
.information1 a{
    color:#1a0e08;
    padding:10px;
    font-size:15px;
    margin-left:80%;
    background-color:#fff;
}

.information2{
margin-left:50%;
margin-top:10%;
width:40%;
padding:10px;
}

.information2 h1{
	color:#fff;
	font-size:45px;

}

.information2 p{
	font-size:17px;
	color:#fff;


 
}
.information2 a{
    color:#352a2c;
    padding:10px;
    font-size:15px;
    margin-left:80%;
    background-color:#fff;
}


.information3{
background-color: #000;
opacity: 0.7;
margin-left:50%;
margin-top:10%;

width:40%;
padding:10px;
}
.information3 h1{
	color:#fff;
	font-size:45px;

}

.information3 p{
	font-size:17px;
	color:#fff;

}
.information3 a{
    color:#352a2c;
    padding:10px;
    font-size:15px;
    margin-left:80%;
    background-color:#fff;
}

/*图片轮播*/
#slider {
	position:relative;
    width:1366px;
    height:576px;
    margin:auto;
	background:url(../images/banner/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:10%;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:640px;
	bottom:34px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/banner/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:100px;
	height:100px;
	background:url(../images/banner/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}


/*主体部分*/
#house{
	margin-top:10px;

	position:relative;


}
#house h1{
	margin:10px;
}

#house li{
	float:left;
}


.hot{
	border:1px solid #fff;
	margin:10px;
	height:220px;
	width:300px;
}

.hot img{
	height:220px;
	width:300px;
	position:absolute;
}
.price{
    margin-top:188px;
	position:absolute;
	height:22px;
	width:290px;
	background-color: #000;
	font-size:13px;
	color:#fff;
	z-index:1;
	padding:5px;
}

/*--底部--*/
#footer{
	margin-top:40px;
	background:#ec462c;
	position:relative;
    
}

.ft-top{
	padding-top:10px;
	height:100%;
	padding-bottom:10px;
}
.ft-top ul{
	float:right;
}

.ft-top li{
	color:#fff;
    margin-left:10px;
    float:right;
}

.ft-top a{
	color:#fff;
	font-size:13px;
}

.ft-bottom{
	border-top:1px solid #fff;
	padding-bottom:20px;
}

.ft-bottom h1{
	margin-top:10px;
	color:#fff;
	font-size:12px;
}

.ft-bottom a{
	margin-left:10px;
	color:#fff;
	font-size:11px;
}