<!--尾部-->
  <div id="footer">
      <div class="containers">


        <div class="ft-top">
          <ul>
            <li><a href="./house/m/about.html">关于</a></li>
            <li><a href="./house/m/contact.html">联系我们</a></li>
            <li><a href="../login" target="_blank">后台登录</a></li>
            <li><a href="http://tongji.baidu.com/web/welcome/ico?s=09b7c1d8457b6b079dfafbe10b0c0d0e" target="_blank">百度统计</a></li>
          </ul>
          <br/>
        </div>

        <div class="ft-bottom">
          <h1>合作伙伴</h1>
          <p>
            <a href="http://jsfund.cn/">嘉实基金</a>
            <a href="http://www.colliersresidential.com/">高力国际</a>
            <a href="http://www.hrei.com.hk/en/index.html">HREI</a>
          </p>
        </div>
      </div>
  </div>
