<div id="header">
  <a class="icon"></a>
  <div class="nav">
    <a href="../">
      <div class="home-icon"></div>
      首页
    </a>
    <a href="../addresses">
      <div class="city-icon"></div>
      城市
    </a>
     <a href="../properties">
      <div class="city-icon"></div>
      逛逛
    </a>
    <h1>咨询热线：147-1433-5039</h1>
  </div>
</div>